[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name=sFive
Exec=/home/hotpot/sfive/startup.sh
Comment='semester five common gui'
Icon=/home/hotpot/sfive/icons/icon.png
Name[en]=sFive
